body {
    font-family: sans-serif;
}

header {
background-color: DeepSkyBlue;
padding: 16px;
border: 2px solid rgb(0, 0, 0);
border-radius: 5px;

}

header a {
border: 1px solid black;
border-radius: 20px;
background-color: white;
margin: 20px;
padding: 10px;
}
h1 {
color: blueviolet;
text-align: center;
}
footer p {
border: 5px solid black;
padding: 5px;

}

.foot {
text-align: center;
}
nav {
margin: 30px;
}


nav a {
margin: 30px;
background-color: white;
border: 2px solid black;
border-radius: 20px;
padding: 10px;
color: black;
text-decoration: white;
}
.prod {
background-color: gold;
border: 1px solid black;
border-radius: 20px;
padding: 10px;

}

.Sez {
border: 2px solid black;
border-radius: 20px;
padding: 10px;
color: navy;

}
.Seza {
padding: 10px;
}

.contact {
background-color: lightskyblue;
border: 2px solid black;
border-radius: 20px;
padding: 10px;
color: black;
text-decoration: white;
}
